header{
    text-align:center;
    font-family: 'arial narrow';
}
html {
    width: 100%;
}
body{
    background-color: darkturquoise;
    width:100%;
    height:100%;
}
.container {
    display: table;
    width: 50%;
    background-color: lightgray;
    padding:10px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: italic;
}
.container1 {
    display: table-row;
}

.col{
    padding: 10px;
    width:50%;
    display: table-cell;
}
input[type=button] {
    background-color: rgb(25, 143, 9);
    padding: 10px;
    border:3px solid rgb(27, 155, 15);
    border-radius: 2px;
    color:white;
    cursor: pointer;

}
.sub{
    text-align: center;
    padding: 20px;
    
}
    
